<footer class="footer--wrapper">
	<div class="footer">
		<div class="footer__text">
			<div class="footer__text--left">
				<h4 class="footer__text--left--title"> Free Shipping </h4>
				<p>Get 2 day free shipping anywhere in North America.</p>
			</div>
			<div class="footer__text--right">
				<h4 class="footer__text--right--title">2 years warranty</h4>
				<p>if anything gose wrong in the first two years, we'll replace it for free</p>
			</div>
		</div>
		<div class="footer__buy">
			<div class="footer__buy--price">
				<h3>$295.95</h3>
				<p>Need financing? Learn more</p>
			</div>
			<button class="footer__buy--btn">
				<strong>Buy now </strong>
			</button>
		</div>
	</div>
</footer>
