@import '../../../../../../../styles.scss';

.card {
	display: flex;
	justify-content: space-between;
	border: 2px solid $color-border-hover;
	border-radius: 4px;
	padding: 4% 7%;
	cursor: pointer;

	&--text {
		width: 80%;
		h5 {
			font-weight: normal;
		}
	}

	&--price{
		width: 10%;
		display: flex;
		align-items: center;
	}

	&:focus {
		box-shadow: 0px 0px 2px $color-text;
	}

	&:hover {
		border: 2px solid $color-text;
	}

}

.border-selected {
	border: 2px solid $color-primary-blue!important;
}
